.task-list-item {
  font-size: 16px;

  .checkbox.main-label {
    color: #333;
  }

  .checkbox {
    display: block;
  }
}

input.task-list-item-checkbox[type="checkbox"] {
  line-height: 32px;
  vertical-align: bottom;
  display: inline-block;
}

.task-list-item:nth-child(even) {
  background-color: #f9f9f9;
}

.task-list-item-time-column {
  flex: none;
  width: 11.66667%;
}

.task-list-item-time {
  color: #777;
  font-size: 12px;
}

.task-list-item-state-label {
  .octicon {
    vertical-align: top;
    font-size: 17px;
    line-height: 32px;
  }
}

.task-list-item-title {
}

.octicon-issue-closed,
.git-pull-request.closed {
  color: #bd2c00;
}

.octicon-issue-opened,
.git-pull-request.opened {
  color: #6cc644;
}

.task-list-meta {
  font-size: 12px;
  margin-top: 5px;
  display: block;
  color: #767676;
}

.task-list-item-repository {
}

.task-list-item-user {
}

.task-list-item-repository-owner-column {
  flex: none;
  width: 7.33333%;
}

.task-list-item-user-avatar,
.task-list-item-repository-owner-avatar {
  display: inline-block;
  vertical-align: top;
  border-radius: 100%;
}

.task-list-item-user-avatar {
  width: 16px;
}

.task-list-item-repository-owner-avatar {
  width: 30px;
}
