// Using the airbnb linter rules https://github.com/airbnb/javascript/tree/master/packages/eslint-config-airbnb
{
  "extends": "airbnb",
  "env": {
    "es6": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "arrow-body-style": ["warn", "as-needed"],
    "semi": ["error", "never"],
    "react/jsx-quotes": 0,
    "jsx-quotes": ["error", "prefer-double"],
    "space-before-function-paren": ["error", "never"],
    "func-names": 0,
    "consistent-return": 0,
    "no-console": 0,
    "react/prefer-stateless-function": 0,
    "import/no-unresolved": 0,
    "arrow-parens": ["error", "as-needed"]
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "plugins": [
    "react"
  ],
  "globals": {}
}
