// Using the airbnb linter rules https://github.com/airbnb/javascript/tree/master/packages/eslint-config-airbnb
{
  "extends": "airbnb",
  "env": {
    "mocha": true,
    "node": true
  },
  "rules": {
    "semi": [2, "never"],
    "react/jsx-quotes": 0,
    "jsx-quotes": [2, "prefer-double"],
    "space-before-function-paren": [2, "never"],
    "func-names": 0,
    "consistent-return": 0,
    "no-console": 0,
    "react/prefer-stateless-function": 0
  }
}
