@import "../../lib/bulma.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css";
@import "../Filter/Filter.less";
@import "../TaskList/TaskList.less";
@import "../TaskListItem/TaskListItem.less";
@import "../FilterListItem/FilterListItem.less";
@import "../NewFilter/NewFilter.less";

body {
  background-color: #fff;
  min-height: 100vh;
}

#content {
  padding: 20px;
}

.issues-list {
  list-style: none;
}

.filter {
  .label {
    display: inline-block;
    line-height: 32px;
    margin-right: 5px;
  }
}

.button.is-primary {
  margin-right: 5px;
}

.rule-list-item:nth-child(even) {
  background-color: #f9f9f9;
}

.new-rule-form {
  margin-bottom: 40px;
}

.search-query-help li {
  text-indent: -2em;
  margin: 0 0 10px 2em;
}
