@import "../../lib/bulma.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css";
@import "../NewFilter/NewFilter.less";
@import "../EditFilter/EditFilter.less";
@import "../FilterList/FilterList.less";
@import "../FilterListItem/FilterListItem.less";
@import "../FilterHelp/FilterHelp.less";
@import "../TaskList/TaskList.less";
@import "../TaskListItem/TaskListItem.less";
@import "../Auth/Auth.less";

body {
  background-color: #fff;
  min-height: 100vh;
}

.button.is-primary {
  margin-right: 5px;
}

.top-nav {
  z-index: 5;
  margin-bottom: 15px;
  padding: 20px 20px 15px 20px;
  border-bottom: 1px solid rgba(211, 214, 219, 0.5);
}
