@import "../../lib/bulma.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css";
@import "../TopNavigation/TopNavigation.less";
@import "../NewFilter/NewFilter.less";
@import "../FilterList/FilterList.less";
@import "../FilterListItem/FilterListItem.less";
@import "../TaskList/TaskList.less";
@import "../TaskListItem/TaskListItem.less";

body {
  background-color: #fff;
  min-height: 100vh;
}

#content {
  padding: 20px;
}

.button.is-primary {
  margin-right: 5px;
}
