.top-navigation.columns {
  border-bottom: 1px solid rgba(211, 214, 219, 0.5);
  margin-bottom: 15px;

  .label {
    display: inline-block;
    line-height: 32px;
    margin-right: 5px;
  }

  .is-link {
    text-decoration: none;
  }
}
